In [4]:
print("hello world")

hello world

In [5]:
from sklearn import datasets
print(datasets.__all__)

['clear_data_home', 'dump_svmlight_file', 'fetch_20newsgroups', 'fetch_20newsgroups_vectorized', 'fetch_lfw_pairs', 'fetch_lfw_people', 'fetch_olivetti_faces', 'fetch_species_distributions', 'fetch_california_housing', 'fetch_covtype', 'fetch_rcv1', 'fetch_kddcup99', 'fetch_openml', 'get_data_home', 'load_boston', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_breast_cancer', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine', 'make_biclusters', 'make_blobs', 'make_circles', 'make_classification', 'make_checkerboard', 'make_friedman1', 'make_friedman2', 'make_friedman3', 'make_gaussian_quantiles', 'make_hastie_10_2', 'make_low_rank_matrix', 'make_moons', 'make_multilabel_classification', 'make_regression', 'make_s_curve', 'make_sparse_coded_signal', 'make_sparse_spd_matrix', 'make_sparse_uncorrelated', 'make_spd_matrix', 'make_swiss_roll']

In [7]:
import numpy as np
dataset = np.loadtxt("pl.csv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter=",", encoding="UTF-8")
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950) ('G-code', 1950)
 ('Birkbeck Assembler', 1950) ('Superplan', 1951) ('ALGAE', 1951)
 ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('autocode', 1952) ('A-0 System', 1952)
 ('Editing Generator', 1952) ('COMPOOL', 1952) ('Speedcoding', 1953)
 ('READ/PRINT', 1953) ('Fortran', 1954) ('ARITH-MATIC', 1954)
 ('autocode', 1954) ('Laning and Zierler system', 1954)
 ('MATH-MATIC', 1954) ('MATRIX MATH', 1954) ('FLOW-MATIC', 1955)
 ('PACT', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('COMTRAN', 1957)
 ('GEORGE', 1957) ('UNICODE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('ALGOL', 1958) ('FORTRAN III', 1958) ('FORTRAN II', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('MAD', 1959)
 ('Lisp', 1959) ('FACT', 1959) ('COBOL', 1960) ('ALCOR', 1960)
 ('ALGOL 60', 1960) ('FORTRAN IV', 1961) ('TECO', 1962) ('SNOBOL', 1962)
 ('APL', 1962) ('Simula', 1962) ('CORC', 1962) ('CPL', 1963)
 ('JOSS', 1963) ('P′′', 1964) ('Report Program Generator', 1964)
 ('TRAC', 1964) ('BASIC', 1964) ('COWSEL', 1964) ('MARK IV', 1964)
 ('MIMIC', 1964) ('PL/I', 1964) ('Speakeasy', 1964) ('IBM RPG II', 1965)
 ('Atlas Autocode', 1965) ('TELCOMP', 1965) ('Euler', 1966)
 ('ISWIM', 1966) ('ALGOL W', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('JOSS', 1966) ('Coral 66', 1966) ('BCPL', 1966) ('APL', 1966)
 ('FORTRAN 66', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Hop', 1967) ('XPL', 1967) ('Interlisp', 1967) ('BCPL', 1967)
 ('Simula', 1967) ('Space Programming Language', 1967) ('PILOT', 1968)
 ('ALGOL 68', 1968)]

In [9]:
import numpy as np
dataset = np.loadtxt("pl.tsv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter="\t", encoding="UTF-8")
print(dataset)

[('ENIAC coding system', 1943) ('ENIAC Short Code', 1946)
 ('Von Neumann and Goldstine graphing system', 1946)
 ('ARC Assembly', 1947) ('Plankalkül', 1948) ('CPC Coding scheme', 1948)
 ('Curry notation system', 1948) ('Short Code', 1949)
 ('assembly language', 1949) ('Short Code', 1950)
 ('Birkbeck Assembler', 1950) ('G-code', 1950) ('Superplan', 1951)
 ('ALGAE', 1951) ('Intermediate Programming Language', 1951)
 ('Regional Assembly Language', 1951)
 ('Boehm unnamed coding system', 1951) ('Klammerausdrücke', 1951)
 ('OMNIBAC Symbolic Assembler', 1951) ('Stanislaus', 1951)
 ('Whirlwind assembler', 1951) ('Rochester assembler', 1951)
 ('Sort Merge Generator', 1951) ('Editing Generator', 1952)
 ('COMPOOL', 1952) ('autocode', 1952) ('A-0 System', 1952)
 ('READ/PRINT', 1953) ('Speedcoding', 1953) ('Fortran', 1954)
 ('MATRIX MATH', 1954) ('autocode', 1954) ('ARITH-MATIC', 1954)
 ('Laning and Zierler system', 1954) ('MATH-MATIC', 1954)
 ('FLOW-MATIC', 1955) ('BACAIC', 1955) ('Freiburger Code', 1955)
 ('Sequentielle Formelübersetzung', 1955) ('Internal Translator', 1955)
 ('PRINT', 1955) ('PACT', 1955) ('Information Processing Language', 1956)
 ('FORTRAN for the IBM 704', 1956) ('Fortran', 1957) ('UNICODE', 1957)
 ('COMTRAN', 1957) ('GEORGE', 1957) ('ALGOL 58', 1958) ('Lisp', 1958)
 ('FORTRAN III', 1958) ('FORTRAN II', 1958) ('ALGOL', 1958)
 ('JOVIAL', 1959) ('TRAC', 1959) ('COBOL', 1959) ('Lisp', 1959)
 ('MAD', 1959) ('FACT', 1959) ('COBOL', 1960) ('COBOL', 1960)
 ('ALGOL 60', 1960) ('ALCOR', 1960) ('FORTRAN IV', 1961) ('SNOBOL', 1962)
 ('TECO', 1962) ('Simula', 1962) ('APL', 1962) ('CORC', 1962)
 ('CPL', 1963) ('JOSS', 1963) ('P′′', 1964)
 ('Report Program Generator', 1964) ('TRAC', 1964) ('BASIC', 1964)
 ('COWSEL', 1964) ('PL/I', 1964) ('MARK IV', 1964) ('MIMIC', 1964)
 ('Speakeasy', 1964) ('IBM RPG II', 1965) ('Atlas Autocode', 1965)
 ('TELCOMP', 1965) ('Euler', 1966) ('ISWIM', 1966) ('ALGOL W', 1966)
 ('JOSS', 1966)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1966)
 ('BCPL', 1966) ('Coral 66', 1966) ('FORTRAN 66', 1966) ('APL', 1966)
 ('Hop', 1967)
 ('Massachusetts General Hospital Utility Multi-Programming System', 1967)
 ('Space Programming Language', 1967) ('BCPL', 1967) ('Interlisp', 1967)
 ('Simula', 1967) ('XPL', 1967) ('PILOT', 1968)]

In [13]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = pd.json_normalize(data)
print(dataframe)

                                languageLabel  year
0                         ENIAC coding system  1943
1                            ENIAC Short Code  1946
2   Von Neumann and Goldstine graphing system  1946
3                                ARC Assembly  1947
4                                  Plankalkül  1948
..                                        ...   ...
95                                       BCPL  1967
96                                  Interlisp  1967
97                                     Simula  1967
98                                        XPL  1967
99                                      PILOT  1968

[100 rows x 2 columns]

In [14]:
import urllib.request
import json
import pandas as pd

url = "https://query.wikidata.org/sparql?query=SELECT%20%3FlanguageLabel%20(YEAR(%3Finception)%20as%20%3Fyear)%0AWHERE%0A%7B%0A%20%20%23instances%20of%20programming%20language%0A%20%20%3Flanguage%20wdt%3AP31%20wd%3AQ9143%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20wdt%3AP571%20%3Finception%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20rdfs%3Alabel%20%3FlanguageLabel.%0A%20%20FILTER(lang(%3FlanguageLabel)%20%3D%20%22en%22)%0A%7D%0AORDER%20BY%20%3Fyear%0ALIMIT%20100&format=json"
response = urllib.request.urlopen(url)
responsedata = json.loads(response.read().decode('utf-8'))

array = []

for data in responsedata['results']['bindings']:
  array.append([data['year']['value'], data['languageLabel']['value']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel'])
dataframe = dataframe.astype(dtype= {"year":"<i4", "languageLabel":"<U200"})
print(dataframe)

    year                              languageLabel
0   1942                                 Plankalkül
1   1943                        ENIAC coding system
2   1946                           ENIAC Short Code
3   1946  Von Neumann and Goldstine graphing system
4   1947                               ARC Assembly
..   ...                                        ...
95  1968                                     MAPPER
96  1968                                      DIBOL
97  1968                                      Forth
98  1968                                   Analitik
99  1968                                  TREE-META

[100 rows x 2 columns]

In [15]:
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1942              1
1943              1
1946              2
1947              1
1948              2
1949              2
1950              2
1951             11
1952              4
1953              2
1954              6
1955              8
1956              1
1957              3
1958              3
1959              5
1960              3
1962              4
1963              2
1964              9
1965              3
1966              7
1967              7
1968             11

In [16]:
grouped = dataframe.groupby('year').agg(['count'])
print(grouped)

     languageLabel
             count
year
1942             1
1943             1
1946             2
1947             1
1948             2
1949             2
1950             2
1951            11
1952             4
1953             2
1954             6
1955             8
1956             1
1957             3
1958             3
1959             5
1960             3
1962             4
1963             2
1964             9
1965             3
1966             7
1967             7
1968            11

In [18]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
...                                                   ...
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [19]:
grouped = dataframe.groupby(['paradigmLabel', 'year']).agg(['count'])
print(grouped)

                            languageLabel
                                    count
paradigmLabel          year
array programming      1954             1
                       1957             1
                       1962             1
                       1966             1
assembly language      1956             1
...                                   ...
structured programming 1957             1
                       1958             1
                       1962             1
                       1966             1
                       1970             1

[73 rows x 1 columns]

In [66]:
from pandas.io.json import json_normalize
import pandas as pd
import json

#The population of countries in alphabetical order of their names and ascending order of year.
data = json.load(open('Country_pop.json'))
dataframe = pd.json_normalize(data)
print(dataframe)

     countryLabel  year population
0     Afghanistan  1960    8774440
1     Afghanistan  1961    8953544
2     Afghanistan  1962    9141783
3     Afghanistan  1963    9339507
4     Afghanistan  1964    9547131
..            ...   ...        ...
995  Burkina Faso  1992    9297116
996  Burkina Faso  1993    9552473
997  Burkina Faso  1994    9816586
998  Burkina Faso  1995   10089876
999  Burkina Faso  1996   10372562

[1000 rows x 3 columns]

In [65]:
#The latest available population of every country
grouped = dataframe.groupby(['countryLabel']).agg({'year' : 'max' , 'population' : 'first'})
print(grouped)

                     year population
countryLabel
Afghanistan          2018    8774440
Algeria              2017   11277757
Angola               2017    4965988
Antigua and Barbuda  2017      54681
Argentina            2019    3954911
Artsakh              2012     137700
Australia            2017   22637127
Austria              2017    7047539
Bahamas              2017     109526
Bahrain              2017     162501
Bangladesh           2017   49537147
Barbados             2017     230858
Benin                2017    2431620
Bhutan               2017     224155
Bolivia              2017    3353125
Botswana             2017     524173
Brazil               2018   72775883
Brunei               2017      81817
Bulgaria             2017    7867374
Burkina Faso         1996    4829291

In [84]:
#The country with the lowest and highest population (considering the latest population)

dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "int64", "countryLabel" : "<U200"})
grouped = dataframe.groupby(['countryLabel']).agg({'population': 'first','year': 'max'})

# get the index position of max values in every column
idxMaxPop = grouped['population'].idxmax()
idxMinPop = grouped['population'].idxmin()

print(idxMaxPop)
print(idxMinPop)

Brazil
Antigua and Barbuda

In [86]:
from pandas.io.json import json_normalize
import pandas as pd
import json

#The population of countries in alphabetical order of their names and ascending order of year.
data = json.load(open('articles.json'))
dataframe = pd.json_normalize(data)
dataframe = dataframe.astype(dtype= {"year" : "int64", "title" : "<U200", "subjectLabel" : "<U200"})

print(dataframe)

                                                 title subjectLabel  year
0    Humans rely on the same rules to assess emotio...        human  2014
1    Magnetic resonance spectroscopy: an in vivo mo...        human  2014
2    Leveraging human genetic and adverse outcome p...        human  2018
3    Exploring the Uncharacterized Human Proteome U...        human  2018
4    Traumatic brain injury in Africa in 2050: a mo...       Africa  2015
..                                                 ...          ...   ...
995        Recovery in Canada: toward social equality.       Canada  2012
996  City mouse, country mouse: a mixed-methods eva...       Canada  2016
997  Dioxin-like compounds are not associated with ...       Canada  2013
998  Examining the use of salpingectomy with hyster...       Canada  2013
999  Trends in prostate cancer incidence and mortal...       Canada  2016

[1000 rows x 3 columns]

In [120]:
#The number of articles published on different subjects every year.

grouped = dataframe.groupby(['subjectLabel' , 'year']).count().reset_index()
print(grouped)

   subjectLabel  year  title
0        Africa  2013      3
1        Africa  2014      4
2        Africa  2015      4
3        Africa  2016      1
4        Africa  2017      7
5        Africa  2018      6
6        Africa  2019      6
7        Canada  2011    141
8        Canada  2012    177
9        Canada  2013    112
10       Canada  2014    125
11       Canada  2015    205
12       Canada  2016    152
13       Canada  2017     42
14       Canada  2018      4
15        death  2011      1
16        death  2012      1
17        death  2015      2
18        death  2016      2
19    happiness  2011      1
20        human  2014      2
21        human  2018      2

In [113]:
#Top subject of interest to the scientific community every year(based on the above query results).

result = grouped.groupby(['year']).agg({'title' : 'max' , 'subjectLabel' : 'first'})
print(result)

      title subjectLabel
year
2011    141       Canada
2012    177       Canada
2013    112       Africa
2014    125       Africa
2015    205       Africa
2016    152       Africa
2017     42       Africa
2018      6       Africa
2019      6       Africa

In [121]:
#Top 10 subjects of interest to the scientific community (based on the above query results) since 2010.
grouped = dataframe.groupby(['subjectLabel' ]).agg({'title' : 'count'}).reset_index()
print(grouped)
grouped.sort_values('title', ascending=False).head(10)

  subjectLabel  title
0       Africa     31
1       Canada    958
2        death      6
3    happiness      1
4        human      4

  subjectLabel  title
1       Canada    958
0       Africa     31
2        death      6
4        human      4
3    happiness      1